@import '../../styles/variables.scss';
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 30px;
}
.wrapper {
   display: flex;
   align-items: center;
   gap: 20px;
}

.change_theme,.logo{
   cursor: pointer;
}
.change_theme{
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo {
   svg {
      width: 65px;
      height: 65px;
   }
}

.title {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 25px;
   color: $primary-color;
}
